<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240736603999-0492ptefs4773eum1g133htr8g0hu1fa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240736603999-0492ptefs4773eum1g133htr8g0hu1fa</string>
	<key>API_KEY</key>
	<string>AIzaSyCHsz8yNZu4RTRXk3D055a7YiAujtqoj54</string>
	<key>GCM_SENDER_ID</key>
	<string>240736603999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ujikomGetx</string>
	<key>PROJECT_ID</key>
	<string>ujikom-getx</string>
	<key>STORAGE_BUCKET</key>
	<string>ujikom-getx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240736603999:ios:b9644d16352910c256f0ea</string>
</dict>
</plist>